<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="utf-8">
    <title>Cv SEHAD Nassim</title>
  </head>
  <body>
    <div class="page">
     <div class="infophoto">
        <div class="info">
          <p><strong> SEHAD Nassim</strong><br/> Né le 15/02/1998 </p>
          <p>B.P 115 El achour, alger <br/> sehad.nassim@gmail.com  </p>
        </div>
      </div>

      <div class="photo">
        <img src="\static\css\pdp.png" alt="photo CV SEHAD Nassim" />
      </div>

      <div class="section">
        <div class="sec-gauche1">
          <h1><strong>Technical skills </strong></h1>
          <p>C/C++ , Python , Restful APIs , Firebase </p>
          <p> Matlab , google APIs , Linux</p>
          <p>Raspberry , Arduino , Lora , Cisco </p>
          <p>GSM and wifi (modules) , PCB making</p>
        </div>
        <div class="sec-droite1">
            <h1><strong>  Certifications </strong></h1>
          <ol>
            <il>2016 - Network and switching basics ICT towers school  </il><br/>
            <il>2017 - implementing QOS , ipv6 </il><br>
            <il>2019 - junction Tokyo participation certificate - </il><br/>
            <il>2019 - African competition of robotics Morocco participation certificate </il><br/>
            <il>2019 - HEC startup weekend participation certificate  - </il><br/>
            <il>2019 - Junction Seoul participation Certificate</il><br/>
          </ol>
        </div>
      </div>

      <div class="section">
        <div class="sec-gauche2">
          <h1>langue</h1>
          <p> Anglais : Tres Bon <br/>
              Francais : Tres Bon <br/>
              Arabe : Tres Bon </p>

        </div>
        <div class="sec-droite2">
          <h1>Stage et experience professionelle </h1>
          <p><span class="titre"> Sonelgas</span><br/>
            Tasks realized  : getting started with cisco and networking basics,
             realization of labs and discovering engineer’s work in elit data centers
          </p>
          <p><span class="titre"> Algerie Telecom</span><br/>
          Tasks realized : participating with the maintenance team that is charged of the special transmition lines and equipments,
           working with the team in Algerie Telecom network
          </p>
          <p><span class="titre"> Huawei</span><br/>
          Tasks realized : getting started with Huawei’s material,
          training for HCNA and participating with the team that installs data centers to install SONATRACH’s data center
          </p>


        </div>
      </div>

      <div class="section">
        <div class="sec-gauche3">
          <h1>Formation academique<h1>
          <p>2015<br/><span class="duree">(Algiers-Algeria)  Zoubida ouled kablia High school </span></p>
          <p>2018<br/><span class="duree">(Algiers-Algeria) University of sciences and Technology  Houari Boumediene</span></p>
          <p>2019-today<br/><span class="duree">(Algiers-Algeria) University of sciences and Technology  Houari Boumediene</span></p>
        </div>
        <div class="sec-droite3">
          <p><span class="titre"> Bacalaureat Diploma in science, mention good 13.81/20</span><br/><br/>
          </p>
          <p><span class="titre"> Licence degree Diploma in Telecom , Head of the class With an average of  15.8/20</span><br/><br/>
          </p>
          <p><span class="titre"> Network and Telecommunications  student master 1</span><br/>
          </p>
        </div>
      </div>

      <div class="section">
        <div class="sec-gauche4" >
          <h1>Competition et activité<h1>
          <span class="titre">January- September 2018 - Algiers </span></p>
          <p>national competition <br/><span class="titre">November 2018- CDER Algiers </span></p>
          <p>national competition <br/><span class="titre">December 2018- Algiers </span></p>
          <p>international competition <br/><span class="titre">10 February 2019- Algiers</span></p>
          <p>national competition<br/><span class="titre">22 March 2019- Rabat Morocco </span></p>
          <p>national competition <br/><span class="titre">April 2019 -HEC Algiers</span></p>
          <p>international competitiony<br/><span class="titre">10-13 May 2019 -Seoul, South Korea</span></p>
        </div>
        <div class="sec-droite4">
          <p>
           Teaching English at SOS village
          </p>
          <p>
            participation at DZ clean energy challenge in CDER center  , (smart irrigation project ) Ranked 8th out of 60 project
          </p>
          <p>
           participation at the Algerian engineering competition ranked 10th out of 100 project
          </p>
          <p>
           organization of an event with our electronics club “CELEC” of a conference that gathered 2000 people
          </p>
          <p>
        participation at junction Tokyo 2019  with AI track   ( project : smart traffic lights ) and  ranked 5th out of 30 teams
          </p>
          <p>
           participation in CAR (African competition of robotics) and winning the first price in the African competition of robotics
          </p>
          <p>
         winning the 3rd place at startup weekend ( innovation marathon competition 54h ) and startup creation AGRICOM
          </p>
          <p>
          participation at junction Seoul 2019  Solution for HIAB Track and  ranked 4th out of 20 teams
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
